.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 866px}
.u-section-1 .u-text-1 {animation-duration: 1750ms; margin: 241px auto 0 0}
.u-section-1 .u-text-2 {font-size: 1.25rem; animation-duration: 1250ms; margin: 33px 248px 0 14px}
.u-section-1 .u-btn-1 {background-image: none; margin: 114px auto 60px 42px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 714px}
.u-section-1 .u-text-2 {margin-left: 0; margin-right: 62px}
.u-section-1 .u-btn-1 {margin-left: 0} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 547px}
.u-section-1 .u-text-2 {margin-right: 0; margin-bottom: 60px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 410px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 911px} }.u-section-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://i.pinimg.com/originals/d4/ac/d8/d4acd879c28c1ca116846c1ab6170b59.jpg"); min-height: 932px}
.u-section-2 .u-text-1 {margin: 146px calc(((100% - 1140px) / 2) + 607px) 0 calc(((100% - 1140px) / 2) + 353px)}
.u-section-2 .u-text-2 {font-size: 1.25rem; margin: -56px calc(((100% - 1140px) / 2) + 444px) 0 calc(((100% - 1140px) / 2) + 353px)}
.u-section-2 .u-btn-1 {background-image: none; border-style: solid; margin: 19px auto 0 calc(((100% - 1140px) / 2) + 390px)}
.u-section-2 .u-layout-wrap-1 {margin: 95px auto 60px 0}
.u-section-2 .u-layout-cell-1 {min-height: 400px}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-text-3 {margin: 27px auto 0 121px}
.u-section-2 .u-text-4 {font-size: 1.25rem; margin: 27px 75px 0 148px}
.u-section-2 .u-btn-2 {background-image: none; border-style: solid; font-size: 1.125rem; margin: 27px auto 0 148px}
.u-section-2 .u-layout-cell-2 {min-height: 400px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-text-5 {font-size: 3.75rem; margin: 27px auto 0 -14px}
.u-section-2 .u-text-6 {font-size: 1.25rem; margin: 46px 211px 0 12px}
.u-section-2 .u-btn-3 {background-image: none; border-style: solid; margin: 12px auto 0 13px} 

@media (max-width: 1199px){ .u-section-2 {min-height: 1245px}
.u-section-2 .u-text-1 {margin-right: calc(((100% - 1140px) / 2) + 655px); margin-left: calc(((100% - 1140px) / 2) + 305px)}
.u-section-2 .u-text-2 {width: auto; margin-top: -68px; margin-right: calc(((100% - 940px) / 2) + 492px); margin-left: calc(((100% - 940px) / 2) + 212px)}
.u-section-2 .u-btn-1 {width: 143px; margin-top: 27px; margin-left: calc(((100% - 940px) / 2) + 205px)}
.u-section-2 .u-layout-wrap-1 {margin-top: 169px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 330px}
.u-section-2 .u-btn-2 {margin-top: 23px}
.u-section-2 .u-layout-cell-2 {min-height: 330px}
.u-section-2 .u-text-6 {width: auto; margin-top: 31px; margin-right: 75px}
.u-section-2 .u-btn-3 {margin-top: 27px; margin-left: 0} }

@media (max-width: 991px){ .u-section-2 {min-height: 1042px}
.u-section-2 .u-text-1 {width: auto; margin-top: 91px; margin-right: calc(((100% - 720px) / 2) + 300px); margin-left: calc(((100% - 720px) / 2) + 240px)}
.u-section-2 .u-text-2 {margin-top: -36px; margin-right: calc(((100% - 720px) / 2) + 215px); margin-left: calc(((100% - 720px) / 2) + 254px)}
.u-section-2 .u-btn-1 {margin-top: 31px; margin-right: calc(((100% - 720px) / 2) + 281px); margin-left: auto}
.u-section-2 .u-layout-wrap-1 {margin-top: 146px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-text-3 {width: auto; margin-top: 31px; margin-left: 60px}
.u-section-2 .u-text-4 {margin-top: 23px; margin-right: 20px; margin-left: 93px}
.u-section-2 .u-btn-2 {margin-left: 100px}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-text-6 {margin-left: 0; margin-right: 0} }

@media (max-width: 767px){ .u-section-2 {min-height: 993px}
.u-section-2 .u-text-1 {margin-top: 62px; margin-right: calc(((100% - 540px) / 2) + 372px); margin-left: calc(((100% - 540px) / 2) + 19px)}
.u-section-2 .u-text-2 {margin-top: -54px; margin-right: calc(((100% - 540px) / 2) + 209px); margin-left: calc(((100% - 540px) / 2) + 46px)}
.u-section-2 .u-btn-1 {margin-top: 20px; margin-right: calc(((100% - 540px) / 2) + 281px); margin-left: calc(((100% - 540px) / 2) + 25px)}
.u-section-2 .u-layout-wrap-1 {margin-top: 27px; margin-bottom: 27px; margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-text-3 {margin-left: 104px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-text-5 {font-size: 3rem; margin-top: 38px; margin-left: 29px; margin-right: 29px}
.u-section-2 .u-text-6 {margin-top: 20px}
.u-section-2 .u-btn-3 {margin-top: 20px; margin-left: 40px} }

@media (max-width: 575px){ .u-section-2 {min-height: 1072px}
.u-section-2 .u-text-1 {margin-top: 46px; margin-right: calc(((100% - 340px) / 2) + 221px); margin-left: calc(((100% - 340px) / 2))}
.u-section-2 .u-text-2 {margin-top: 15px; margin-right: calc(((100% - 340px) / 2) + 100px); margin-left: calc(((100% - 340px) / 2))}
.u-section-2 .u-btn-1 {margin-right: calc(((100% - 340px) / 2) + 197px); margin-left: calc(((100% - 340px) / 2))}
.u-section-2 .u-layout-wrap-1 {margin-top: 46px; margin-bottom: 60px; position: relative; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 255px}
.u-section-2 .u-container-layout-1 {padding-top: 14px}
.u-section-2 .u-text-3 {margin-top: 0; margin-left: 76px}
.u-section-2 .u-btn-2 {margin-left: 93px}
.u-section-2 .u-layout-cell-2 {min-height: 379px}
.u-section-2 .u-text-5 {font-size: 2.25rem; width: auto; margin-top: 25px; margin-right: 87px; margin-left: 54px}
.u-section-2 .u-text-6 {margin-top: 27px; margin-right: 73px; margin-left: 40px}
.u-section-2 .u-btn-3 {margin-top: 18px; margin-left: 27px} }.u-section-3 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://www.10wallpaper.com/wallpaper/2560x1600/1703/Deep_space-2017_High_Quality_Wallpaper_2560x1600.jpg")}
.u-section-3 .u-sheet-1 {min-height: 704px}
.u-section-3 .u-text-1 {font-size: 3.75rem; margin: 72px 65px 0 454px}
.u-section-3 .u-text-2 {margin: 20px 0 0 454px}
.u-section-3 .u-btn-1 {background-image: none; margin: 20px 462px 0 auto} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 580px}
.u-section-3 .u-text-1 {width: auto; margin-top: 64px; margin-right: 34px; margin-left: 386px}
.u-section-3 .u-text-2 {width: auto; margin-top: 23px; margin-right: 68px; margin-left: 504px}
.u-section-3 .u-btn-1 {margin-right: 262px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 708px}
.u-section-3 .u-text-1 {font-size: 3rem; margin-top: 135px; margin-right: 26px; margin-left: 208px}
.u-section-3 .u-text-2 {margin-top: 26px; margin-left: 284px}
.u-section-3 .u-btn-1 {margin-top: 14px; margin-right: 68px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 531px}
.u-section-3 .u-text-1 {margin-top: 20px; margin-left: 0; margin-right: 0}
.u-section-3 .u-text-2 {margin-top: 20px; margin-left: 86px; margin-right: 0}
.u-section-3 .u-btn-1 {margin-right: 0} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 334px}
.u-section-3 .u-text-1 {font-size: 2.25rem; margin-top: 36px; margin-right: 25px}
.u-section-3 .u-text-2 {margin-top: 7px; margin-left: 0}
.u-section-3 .u-btn-1 {margin-bottom: 60px} }